@use "../setting/colors" as *;
@use "../setting/fonts" as *;
@use "../mixin/responsive" as *;

.header {
  &__inner {
    height: 70px;
    padding: 0 20px;
    background-color: $color_white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @include responsive(tablet) {
      padding: 20px 40px;
      height: 80px;
    }
  }

  &__logo {
  }

  &__logo-link {
    color: $color_main;
    font-size: 1.5rem;
    letter-spacing: 0.04em;
    font-weight: $demi-bold;

    & span{
        font-size: 3rem;
        line-height: 1;
    }
  }

  //    ナビゲーション

  &__nav {
    position: fixed;
    top: 70px;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: $color_main;

    transform: translateX(100%);
    transition: transform 0.5s;

    z-index: 90;

    @include responsive(tablet) {
      position: static;
      transform: none;
      height: auto;
      width: initial;
      height: initial;
      background-color: $color_white;
    }

    &.is-open {
      transform: translateX(0);
    }
  }

  &__nav-inner {
  }

  &__menu {
    @include responsive(tablet) {
      display: flex;
      gap: 40px;
    }

    li {
      &:nth-of-type(1) {
        a {
          border-top: 1px solid $color_bg;

          @include responsive(tablet) {
            border: none;
          }
        }
      }
    }

    a {
      color: $color_white;
      padding: 24px 20px;
      border-bottom: 1px solid $color_white;

      @include responsive(tablet) {
        border: none;
        padding: 0;
        color: $color_main;
      }
    }
  }

  //    ハンバーガー

  .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 100;

    @include responsive(tablet) {
      display: none;
    }

    span {
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background: $color_main;

      left: 0;
      transition:
        transform 0.5s ease,
        opacity 0.3s ease,
        top 0.5s ease,
        bottom 0.5s ease;

      &:nth-child(1) {
        transform: translateY(-12.5px);
      }

      &:nth-child(2) {
        top: 12.5px;
      }

      &:nth-child(3) {
        transform: translateY(7.5px);
      }
    }

    &.is-open {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

//    body制御
html.is-open,
body.is-open {
  overflow: hidden;
}
