// 文字フォントの種類
$font-base: "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ",
  sans-serif;
$font-sub: "Yu Mincho", "游明朝", "ヒラギノ明朝 ProN", "MS PMincho", serif;
$font-en: "Archivo Narrow", sans-serif;

// 文字の太さ
$light: 300;
$regular: 400;
$medium: 500;
$demi-bold: 600;
$bold: 700;
$black: 900;
